phidata 
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
sqlalchemy
pgvector
psycopg[binary]
PyPDF2
streamlit
phidata
google-generativeai
duckduckgo-search
python-docx
huggingface_hub
langchain
chromadb
sentence-transformers
nltk
langchain-community
phidata